<div class="container p-3 text-center">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "index_banner_pic.jpg" %>')">
    <h1>A place for movie lovers</strong> to <strong>create any list they want</strong>!</h1>
    <p>~Enjoy~</p>
  </div>

  <% if @lists.any? %>
    <div class="row">
      <%@lists.each do |list|%>
        <div class="col-4">
          <div class="mt-5">
            <% if list.photo.attached?%>
              <div class="card-category w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill %>')">
                <h2> <%= link_to list.name, list_path(list), class: "text-decoration-none text-white" %> </h2>
              </div>
            <% else %>
              <div class="card-category w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "default_photo.jpg" %>')">
                <h2> <%= link_to list.name, list_path(list), class: "text-decoration-none text-white" %> </h2>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    "You don't have any lists yet..."
   <% end %>
</div>
